/* ~/.config/waybar/style.css */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    font-family: "UbuntuMono Nerd Font Mono", "Symbols Nerd Font Mono", "Material Design Icons"; /* Your preferred Nerd Font */
    font-size: 18px;
    min-height: 0;
}

/* The main bar */
window#waybar {
    background: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

/*
#waybar .modules-right {
	padding-right: 6px;
}*/

.audio.icon {
	font-size: 20px;
}

/* Each module */
#workspaces,
#battery,
#clock,
#bluetooth,
#network,
#tray,
#power-profiles-daemon,
#pulseaudio,
#cpu,
#memory {
    padding: 0 2px;
    margin: 0 4px;
}

/* Tooltips */
tooltip {
    background: rgba(16,18,28,0.98);
    border-radius: 0px;
    border: 2px solid @overlay-border;
    padding: 8px;
    opacity: 0.75;
}

tooltip label {
    color: @text;
}

/* ----------------- */
/* Module Specifics */
/* ----------------- */

#workspaces button {
    padding: 0 5px;
    color: @subtext;
    background-color: transparent;
}

#workspaces button:hover {
    background: @surface;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    color: @accent;
    background-color: @surface-active;
}

#workspaces button.urgent {
    color: @urgent;
}

#battery.charging, #battery.plugged {
    color: @success;
}

#battery.warning:not(.charging) {
    color: @warning;
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* font size */
#power-profiles-daemon {
    font-size: 22px;
}

#network,
#cpu {
    font-size: 22px;}

/* Reset the text size within those modules back to the default */
#network label,
#pulseaudio label,
#cpu label,
#power-profiles-daemon label {
    font-size: 16px; /* This should match your global font-size */
}

/* keyframes? */

@keyframes blink {
    to {
        background-color: @urgent;
        color: @base;
    }
}
